<div class="mat-headline restaurant"> You are booking a schedule in {{restName}} </div>


<form [formGroup]="bookingform" (ngSubmit)="onSubmit(bookingform)">
    <div>
        <mat-form-field class="formelements" floatdiv="always">
            <input matInput formControlName="name" class="name" placeholder="Your Name">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="formelements">
            <input matInput formControlName="email" class="email" placeholder="Your Email" value="foo@bar.in">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="formelements">
            <input matInput formControlName="guests" class="guests" placeholder="No.of Gursts" value="1">
        </mat-form-field>
    </div>
    <br>
    <div>
        Date :
        <input type="date" formControlName="date" class="date">
    </div>
    <br>
    <div>
        Time :
        <input type="time" formControlName="time" class="time">
    </div>
    <br>
    <div class="bookbutton">
        <button mat-raised-button type="submit">Book</button>
    </div>

</form>