<div> You are booking a Schedule in {{restId}} {{restName}}   </div>
<p></p>

<form [formGroup]="bookingform" (ngSubmit)="onSubmit(bookingform)">

    <label>
        Name :
        <input type="text" formControlName="name" class="name">
    </label>
<p></p>
    <label>
        Email :
        <input type="text" formControlName="email" class="email">
    </label>
    <p></p>
    <label>
        No of Guests :
        <input type="text" formControlName="guests" class="guests">
    </label>
    <p></p>
    <label>
        Date :
        <input type="date" formControlName="date" class="date">
    </label>
    <p></p>
    <label>
        Time :
        <input type="time" formControlName="time" class="time">
    </label>
    <p></p>
    

<button mat-raised-button type="submit">Book</button>
</form>